*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
}

body{
  background-color:#1E1E1E ;
}
.Topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding-right: 25px;
}
.logo{
  height: 10vh;
  margin-top: -15px;
  margin-left: -15px;
  
}
.nav-link{
  font-size: 26px;
  color: white;
  transition: .3s;
  
}
.nav-link:hover{
  
  color: #c7c7c7;
  
}
.main-body{
  width: 100vw;
  height: 76vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.new-session-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: #B0B0B0;
  width: 30vw;
  height: 10vw;
  border: 7px solid #B0B0B0;
  border-radius: 25px;
  transition: 1.5s;
  cursor: pointer;
  
}
.new-session-btn:hover{
  color: #61D9C3;
  border-color: #61D9C3;
  
}
.join-session-btn{
  cursor: pointer;
}
.join-session{
  display: flex;

  justify-content: center;
  gap: 15px;
  align-items: center;
  padding: 10px;
  border: 3px solid #B0B0B0;
  border-radius: 10px;
  
}

.id-input{
  background: none;
  color: #c7c7c7;
  padding-left: 5px;
  height: 40px;
  width: 200px;
  border: 2px solid #B0B0B0;
  border-radius: 5px;
  font-size: 24px;
  

}
.id-button{
  background: none;
  cursor: pointer;
  color: #c7c7c7;
  height: 40px;
  font-size: 18px;
  width: 50px;
  border: 2px solid #B0B0B0;
  border-radius: 5px;
  transition: 0.5s;
}
.id-button:hover{
  border-color: #61D9C3;
  color: #61D9C3;
}
.left-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  color:aliceblue;
  height: 100%;
}
.container{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  color: white;
  
  height: 50vh;
}
.data-container{
  background-color: #4e4e4e;
  width: 50vw;
  height: 48vh;
  border-radius: 10px;
  box-shadow: 5px 5px 50px black;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.join-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .6vw;
  gap: 15px;
  width: 15vw;
  /* background-color: #4e4e4e; */
  height: 30vh;
  border-radius: 10px;
}
.close-session-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  width: 10vw;
  height: 2vw;
  border: 4px solid #B0B0B0;
  margin-top: 50px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
  min-width: 200px;
  min-height: 40px;
  
}
.close-session-btn:hover{
  border-color: #b63636;
  color: #b63636;
}
.qr-container{
  padding: 15px;
  padding-bottom: 10px;
  background-color: #4e4e4e;
  border-radius: 10px;
}
.qr-container img{
  width: 10vw;
  min-width: 150px;
}
.message-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 8px;
  width:95%;
  height: 50px;
  background-color: #1E1E1E;
  
  
}
.cpy-btn{
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  width: 50px;
  color: aliceblue;
  border: 2px solid aliceblue;
  border-radius: 3px;
  cursor: pointer;
}
.message-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width:95%;
  height: 90%;
  gap: 10px;
  
}
.text-box{
  width: 90%;
  height: 90%;
  overflow-y: auto;

  
}


.message-input-container{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 1%;
  
  
  
  
}
.message-input-container input{
  background: none;
  color: #c7c7c7;
  padding-left: 5px;
  height: 40px;
  width: 85%;
  border: 2px solid #B0B0B0;
  border-radius: 5px;
  font-size: 24px;
  overflow-wrap: normal;
  
}
.send-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  color: #c7c7c7;
  height: 100%;
  font-size: 18px;
  width: 10%;
  height: 44px;
  border: 2px solid #B0B0B0;
  border-radius: 5px;
  transition: 0.5s;
  
}
.send-btn:hover{
  background-color: #4bbb4b;
  border: #4bbb4b;
  color: #4e4e4e;
  
}
.file-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 8px;
  width:95%;
  height: 50px;
  background-color: #313131;
  
  
}
.file-card img{
  width: 35px
  
  
}
.message-card img{
  width: 35px;
}
.message-card img:hover{
  width: 36px;
}

label{
  text-align: center;
  cursor: pointer;
}
label img{
  height: 3rem;
}

label input{
  display: none;
}
.file-buffer-box{
  width: 95%;
  background-color: #1E1E1E;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.file-buffer-box:hover{
  background-color: #3f3f3f;
}
@media (max-width: 576px){
  .Topbar{
    flex-direction: column;
    padding-bottom: 5%;
  }
  .main-body{
    flex-direction: column;
    gap: 30px;
    height: auto;
  }
  .data-container{
    width: 100%;
  }
  .container{
    width: 90vw;
  }
  .qr-container img{
    width: 30vw;
  }
  .file-container img{
    width: 10vw;
     
   }
   .join-container{
    width: 100vw;
    font-size: 50%;
   }
   .message-input-container input{
    font-size: 90%;
   }
   .send-btn{
    font-size: 50%;
   }
   label img{
    height: 50px;
   }
}
